body {
  font-family: monospace, "Arial", sans-serif;
  background-color: silver;
}

p {
  font-size: 17px;
  padding: 10px;
}

table {
  font-size: 17px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
 td {
   border-style: solid;
   border-width: thin;
 }

 h1, h2 {
   text-align: center;
 }

header {
  background-color: #1E1E1E;
  color: #46D1E6;
  padding: 10px;
}

footer {
  background-color: #1E1E1E;
  color: #46D1E6;
  padding: 10px;
}
